# Lines starting with  are comments.
# Ignore files called 'file.ext'

#Enlever les fichiers word
#pour garder que les pdf
/stm32_Initiation/stm32_Initiation_Programs.docx
stm32_introduction_guetting_Started.docx

# Ignoring directories
#Enlever tout un répertoire trop volumineux